[Unit]
Description=Shutdown RPi on inserting appropriately labelled thumb drive

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/shutdownthumb.py
Restart=no

[Install]
WantedBy=multi-user.target
